header>mat-toolbar {
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
}
main {
    margin-top: 63px;
    padding-top: 1px;
    padding-bottom: 40px;
}
div.loader {
    position:fixed;top:61px;z-index: 2;width: 100%;
}
mat-toolbar-row {
    justify-content: space-between;
}
mat-list-item {
    transition-duration: .2s;
    &.active { 
        background: #d2dced;
    }
    &:hover{
        background:#020204;
        color:#fff;
        cursor: pointer;
    }
}

.menu {
    background: #16202f; height: 100vh;
}
.menu mat-list-item {
    color: #8db0ff 
}
