<header> 
    <!-- NAVBAR -->
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>LMS APP</span>

        <button [matMenuTriggerFor]="menu" mat-icon-button>
          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>login</mat-icon>
            <span>Login</span>
          </button>
          <button mat-menu-item>
            <mat-icon>assignment</mat-icon>
            <span>Inscription</span>
          </button>
        </mat-menu>

      </mat-toolbar-row> 
      </mat-toolbar>

     <!-- LOADER-->
     <div *ngIf="loader" class="loader" >
      <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
    </div>
     <!-- FIN LOADER-->
</header>

<main>
  <div class="container-fluid">
    
    <div class="row">
      
      <!-- MENU -->
      <div class="col-md-3 col-lg-2 ps-0">
        <!-- <app-menu> -->
        <div class="menu">
          <mat-list role="list">
            <mat-list-item routerLink="/">Formations</mat-list-item>
            <mat-list-item routerLink="/students">Suivi des apprenants</mat-list-item>
            <mat-list-item>Rendez-vous</mat-list-item>
          </mat-list>
        </div>

      </div>
  
      <!-- MAIN -->
      <div class="col-md-9 col-lg-10 p-3">
        <!-- <app-course></app-course> -->
        <!-- <app-student-list></app-student-list> -->
        <router-outlet></router-outlet>
      </div>
  
    </div>
  </div>
</main>



